/* CSS Document */
html{}
body{margin:0px;text-align:center; font-family:Tahoma, Geneva, sans-serif; font-size:12px;color:#333;}
/* common */
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
p{line-height:20px;color:#000;margin:0px;}
h1,h2,h3{padding:0px;margin:0px; font-weight:normal}
ul{padding:0px;margin:0px;}
ul li{list-style-type:none;}
/* end common */
#wr{width:970px;margin:0 auto;}
#wrap{width:960px;margin:0 auto;text-align:left;overflow:hidden;}
#middle{overflow:hidden;border:1px solid #CCC;border-top:none;margin-bottom:10px;}
/* left */
#middle-left{float:left; margin-right:8px;width:29%;background:#EAEAEA;}
#left-t form
#thanh-left{}
#left-t{}
#left-t form{padding:5px}
#box-butdanh{}
#top-left{overflow:hidden;padding:5px;}
#logo{ padding:3px 0px 0px 0px;float:left}
.time{float:right;font-size:11px;color:#CC0000;padding-top:13px;}
.lst-bao{padding-left:5px;padding-bottom:10px;}
.lst-bao h3{margin-bottom:5px;}
.tamgiac{background:url("../images/icon-tamgiac.png") no-repeat scroll left center transparent; padding-left:10px;}
.lst-butdanh{padding-right:5px;}
.lst-butdanh a{font-size:10px;}
.lst-butdanh ul li{margin-left:20px;list-style-type: circle;}
.txt{background:#FFF;border:1px solid #CCC;padding:3px;}
.text{background:#FFF;border:1px solid #CCC;padding:3px;}
.btn-search{background:url('../images/btn_search.png') no-repeat;width:24px;height:24px;border:none;cursor:pointer;}
.frm-search{overflow:hidden;padding:5px;}
.frm-search input{float:left;}
.frm-search .txt{width:235px;}
.frm-login{overflow:hidden;padding:5px;}
.frm-login p{margin-bottom:5px;}
.frm-left{float:left;}
#username{width:180px;}
#password{width:180px;}
.frm-login .frm-right{float:right;}
.btnlogin{background:#808080;border:none;color:#FFF;padding:3px 2px;cursor:pointer;}
.btnlogin:hover{background:#CC0000;}
/* end left */
/* middle */
#middle-center{background:#EAEAEA;width:482px;float:left;margin-right:8px;}
#menu-top{overflow:hidden;border-bottom:1px solid #CCC;margin-bottom:10px;}
.name-butdanh{border-top: 1px solid #CCCCCC;}
.nav-top{float:right;}
.nav-top li{float:left;padding:5px 0px;}
.nav-top li a{color:#333;border-right:1px solid #CCC;padding:0px 8px;}
#butdanh li a{font-size:9px;}
#chude{}
.box-center{margin-bottom:10px;}
.box-center .top-topic-top{overflow:hidden;margin-bottom:10px;border-bottom:1px dotted #333;}
#box-topichot{}
.box-content .box1 ul li{list-style-type:circle;margin-left:20px;}
.box-center .top-topic-top li{float:left;}
.box-center .top-topic-top li a{padding:3px 10px;display:block;font-size:13px;}
.box-center .top-topic-top li a:hover,.box-center .top-topic-top li a.tab-active{background:#CC0000;color:#FFF;}
.box-center .content-box{padding-left:5px;}
.box-center .content-box ul li{list-style-type:circle;list-style-position:inside;margin-bottom:5px;}
.box-center .content-box ul li a{}
.item-toptic-new{list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 5px;}
.date-time{font-size:10px;color:#AC0000;font-style:italic;padding-left:10px;}
/* end middle*/
/* right */
#middle-right{float:right;background:#EAEAEA; width:19%;}
.clear{}
.thanh-right{}
.box-center{}
.bullet{font-size:10px !important;}
.box-center h3{padding:3px 5px;background:#CC0000;color:#FFF;font-size:11px;font-weight:bold;}
.box-center .content-box-right{padding:5px}
.box-center .content-box-right ul li{list-style-position:inside;margin-bottom:5px;}
.box-center .content-box-right ul li a{font-size:10px;}
.box-center ul li a {font-size:12px;}
#list-topic-detail{padding-left: 17px;font-weight:bold;}
#topthang{font-size:14px !important;padding-left: 10px;font-weight:bold;}
/* end right */
/* footer */
#footer{background:#FFF;width:960px;margin:0 auto;text-align:justify;}
#lien-he{background:#333;padding:10px;}
.mau{color:#FFF}
#mau2{color:#FFF}
#user-online {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}
#user-online h2 {
    background: none repeat scroll 0 0 #333;
    border-bottom: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: normal;
    padding: 5px;
	font-size:13px;
}
#user-online .ctn {
    font-size: 10px;
    padding: 5px;
}

/* end footer */

/* register*/
	.blockrow{overflow:hidden;;}
	.primary textbox{float:left;}
	.description{float:right;}
	.group{overflow:hidden;}
/*end register*/
